# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment / secrets
.env

# Mac files
.DS_Store

# IDE/editor
.vscode/
.idea/

# Ignore real/local logs, but keep sample logs
*.log
!sample_logs/*.log
